<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS6131 Database Design</b> </font>

# ISSL4 Project Scripts

### By Jamie Lim (M23605)

### Section D: DDL Schema

<div class="alert alert-block alert-warning">
Fill in the relevant code required to create the relations for your database based on the relational model in Section C. <br>
Your code should be end to end (i.e. I should be able to execute on my computer without much problem).
Please ensure your code can be seen clearly on oneNote.
</div>

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:admin@localhost/

In [3]:
%%sql
CREATE DATABASE IF NOT EXISTS cs6131proj;
USE cs6131proj;

 * mysql+pymysql://root:***@localhost/
1 rows affected.
0 rows affected.

[]

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS user (
    user_id         integer(5)          NOT NULL        AUTO_INCREMENT,
    username        varchar(15)         NOT NULL,
    password        varchar(255)        NOT NULL,
    user_desc       text,
    PRIMARY KEY (user_id)
);

CREATE TABLE IF NOT EXISTS follows (
    follower_id     integer(5)          NOT NULL,
    following_id    integer(5)          NOT NULL,
    PRIMARY KEY (follower_id, following_id),
    FOREIGN KEY (follower_id) REFERENCES user(user_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (following_id) REFERENCES user(user_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS ingredient (
    ingr_id         integer(5)          NOT NULL        AUTO_INCREMENT,
    ingr_name       varchar(16)         NOT NULL,
    PRIMARY KEY (ingr_id)
);

CREATE TABLE IF NOT EXISTS inventory (
    user_id         integer(5)          NOT NULL,
    ingr_id         integer(5)          NOT NULL,
    expiry          datetime            NOT NULL,
    PRIMARY KEY (user_id, ingr_id, expiry),
    FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (ingr_id) REFERENCES ingredient(ingr_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS recipe (
    recipe_id       integer(8)          NOT NULL        AUTO_INCREMENT,
    recipe_name     text,
    recipe_desc     text,
    recipe_image    text,
    difficulty      integer(1),
    cook_time       decimal(5, 2),
    portions        integer,
    creator_id      integer(5),
    date            date                NOT NULL,
    recipe_rating   decimal(4, 3),
    PRIMARY KEY (recipe_id),
    FOREIGN KEY (creator_id) REFERENCES user(user_id) ON DELETE SET NULL ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS instruction (
    recipe_id       integer(8)          NOT NULL,
    instr_id        integer(3)          NOT NULL,
    title           text,
    subtitle        text,
    list_order      integer(3)          NOT NULL,
    PRIMARY KEY (recipe_id, instr_id),
    FOREIGN KEY (recipe_id) REFERENCES recipe(recipe_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS uses_ingredient (
    ingr_id         integer(5)          NOT NULL,
    recipe_id       integer(8)          NOT NULL,
    quantity        text,
    PRIMARY KEY (ingr_id, recipe_id),
    FOREIGN KEY (ingr_id) REFERENCES ingredient(ingr_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (recipe_id) REFERENCES recipe(recipe_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS rating (
    user_id         integer(5)          NOT NULL,
    recipe_id       integer(8)          NOT NULL,
    score           integer(1)          NOT NULL,
    PRIMARY KEY (user_id, recipe_id),
    FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (recipe_id) REFERENCES recipe(recipe_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS bookmark (
    user_id         integer(5)          NOT NULL,
    recipe_id       integer(8)          NOT NULL,
    PRIMARY KEY (user_id, recipe_id),
    FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (recipe_id) REFERENCES recipe(recipe_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS tag (
    tag_id          varchar(3)          NOT NULL,
    tag_name        varchar(24)         NOT NULL,
    PRIMARY KEY (tag_id)
);

CREATE TABLE IF NOT EXISTS cuisine (
    tag_id          varchar(3)          NOT NULL,
    region          varchar(24)         NOT NULL,
    subregion       varchar(24),
    PRIMARY KEY (tag_id),
    FOREIGN KEY (tag_id) REFERENCES tag(tag_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS belongs_to (
    recipe_id       integer(8)          NOT NULL,
    cuisine_id      varchar(3)          NOT NULL,
    PRIMARY KEY (recipe_id, cuisine_id),
    FOREIGN KEY (recipe_id) REFERENCES recipe(recipe_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (cuisine_id) REFERENCES cuisine(tag_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS excludes (
    dietary_id      varchar(3)          NOT NULL,
    ingr_id         integer(5)          NOT NULL,
    PRIMARY KEY (dietary_id, ingr_id),
    FOREIGN KEY (dietary_id) REFERENCES tag(tag_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (ingr_id) REFERENCES ingredient(ingr_id) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE IF NOT EXISTS feedback (
    feedback_id     integer(5)          NOT NULL        AUTO_INCREMENT,
    feedback_text   text                NOT NULL,
    PRIMARY KEY (feedback_id)
);

 * mysql+pymysql://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Section E: Data Population Script

<div class="alert alert-block alert-warning">
Fill in relevant code to populate data into your database. Note that you should use INSERT commands.
You should populate each table with at least 5 to 10 records (as a prototype). You may continue adding more data over term break to prepare for the final project. This current submitted data set need not be final/complete, but should be sufficient to demonstrate the results in Section F.
    
Note that data should be realistic and logically related / coherent.
</div>

In [5]:
%%sql
INSERT INTO user VALUES
    (NULL, 'username', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', NULL),
    (NULL, 'user2', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', NULL),
    (NULL, 'user3', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', NULL),
    (NULL, 'user4', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', NULL),
    (NULL, 'user5', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', NULL);
    # all passwords are 'test' but hashed

INSERT INTO follows VALUES
    (1, 2),
    (1, 3),
    (2, 1),
    (3, 1),
    (2, 3),
    (3, 2),
    (1, 4),
    (5, 2),
    (3, 5),
    (4, 3);

INSERT INTO ingredient VALUES
    (1, 'Water'),
    (2, 'Butter'),
    (3, 'Flour'),
    (4, 'Salt'),
    (5, 'Egg'),
    (6, 'Garlic'),
    (7, 'Vinegar'),
    (8, 'Soy Sauce'),
    (9, 'Onion'),
    (10, 'Rice'),
    (11, 'Honey'),
    (12, 'Sugar'),
    (13, 'Milk'),
    (14, 'Yeast'),
    (15, 'Cheese'),
    (16, 'Ginger'),
    (17, 'Tomato'),
    (18, 'Potato'),
    (19, 'Vegetable oil'),
    (20, 'Peanut'),
    (21, 'Hazelnut'),
    (22, 'Cashew'),
    (23, 'Chilli'),
    (24, 'Seaweed'),
    (25, 'Basil'),
    (26, 'Wheat'),
    (27, 'Chicken'),
    (28, 'Fish'),
    (29, 'Pork'),
    (30, 'Beef'),
    (31, 'Apple'),
    (32, 'Grape'),
    (33, 'Pepper');

INSERT INTO inventory VALUES
    (1, 27, CURDATE()-10),
    (1, 2, CURDATE()+10),
    (1, 4, CURDATE()+10),
    (1, 8, CURDATE()+10),
    (1, 10, CURDATE()+10),
    (1, 13, CURDATE()+10),
    (1, 18, CURDATE()+10),
    (1, 19, CURDATE()+10),
    (1, 24, CURDATE()+10),
    (1, 28, CURDATE()+10),
    (1, 30, CURDATE()+10),
    (1, 33, CURDATE()+10);

INSERT INTO recipe VALUES
    (1, 'Ground Beef and Potatoes', NULL,
        'https://www.wellplated.com/wp-content/uploads/2020/12/Fried-Potatoes-and-Hamburger.jpg',
        1, 0.5, 1, 1, CURDATE(), 4.0),
    (2, 'Singapore Hainanese Chicken Rice', NULL, NULL,
        1, 1.5, 1, 2, CURDATE(), 3.0),
    (3, '[Incomplete] Sushi', NULL, NULL,
        0, 1, 1, 1, CURDATE(), 5.0),
    (4, '[Incomplete] Túró (Hungarian Cottage Cheese)', NULL, NULL,
        2, 1, 1, 4, CURDATE(), NULL),
    (5, 'Creamy Buttery Mashed Potato', NULL,
        'https://www.recipetineats.com/wp-content/uploads/2020/03/Creamy-Mashed-Potato_8-copy.jpg',
        0, 0.5, 1, 4, CURDATE(), 5.0);

INSERT INTO instruction VALUES
    (1, 1, 'Sauté the potatoes in oil.', NULL, 1),
    (1, 2, 'Brown the beef with the sauce and any other vegetables/spices you wish to include.', NULL, 2),
    (1, 3, 'Cook until the meat is cooked through. Serve as desired and ENJOY!', NULL, 3),
    (2, 1, 'Place the chicken in a large stock pot, cover with cold water by 1 inch (2 cm), and season with salt to taste.', NULL, 1),
    (2, 2, 'Bring to a boil over high heat, then immediately reduce the heat to low to maintain a simmer. Cover and cook for about 30 minutes, or until the internal temperature of the chicken reaches 165°F (75°C). Remove the pot from the heat.', NULL, 2),
    (2, 3, 'Remove the chicken from the pot, reserving the poaching liquid for later, and transfer to an ice bath for 5 minutes to stop the cooking process and to keep the chicken skin springy.', NULL, 3),
    (2, 4, 'After it’s cooled, pat the chicken dry with paper towels and rub all over with sesame oil. This will help prevent the chicken from drying out.', NULL, 4),
    (2, 5, 'In a large wok or skillet, heat ¼ cup (60 ml) of sesame oil over medium-high heat. Add 2 tablespoons of reserved chopped chicken fat, the garlic, ginger, and salt, and fry until aromatic, about 10 minutes.', NULL, 5),
    (2, 6, 'Reserve ¼ of the fried garlic mixture, then add the rice to the remaining fried garlic and stir to coat. Cook for 3 minutes.', NULL, 6),
    (2, 7, 'Transfer the rice to a rice cooker and add 2 cups (480 ml) of reserved poaching broth. Steam the rice for 60 minutes, or until tender.', NULL, 7),
    (2, 8, 'While the rice is cooking, carve the chicken for serving.', NULL, 8),
    (5, 1, 'Cut potato into equal pieces', NULL, 1),
    (5, 2, 'Boil in salted water until potato is soft', NULL, 2),
    (5, 3, 'Drain, return into pot and mash with butter and milk', NULL, 3),
    (5, 4, 'Mash until creamy and fluffy', NULL, 4);

INSERT INTO uses_ingredient VALUES
    (8, 1, '1 tablespoon'), # soy sauce
    (18, 1, '1/2'), # potato
    (19, 1, '1 tablespoon'),
    (30, 1, 'ground; 50g'), # beef
    (33, 1, 'as necessary'), # pepper
    (1, 2, '0.5L + more as necessary'), # water
    (4, 2, 'as necessary'),
    (10, 2, '1/2 cup or as necessary'), # rice
    (16, 2, '4 1/6 inch pieces'), # ginger
    (27, 2, '200g'), # chicken
    (10, 3, '1/2 cup or as necessary'), # rice
    (24, 3, 'as necessary'), # seaweed
    (28, 3, '100g'), # fish
    (13, 4, '100ml'), # milk
    (1, 5, '500ml'), # water
    (2, 5, '100g'), # butter
    (4, 5, '1 pinch'), # salt
    (13, 5, '100ml'), # milk
    (18, 5, '1'); # potato
    
INSERT INTO rating VALUES
    (1, 1, 5.0),
    (1, 2, 4.0),
    (2, 1, 4.0),
    (2, 2, 2.0),
    (3, 1, 2.0),
    (3, 3, 5.0),
    (4, 1, 5.0),
    (4, 5, 5.0);

INSERT INTO bookmark VALUES
    (1, 1),
    (1, 2),
    (1, 5),
    (2, 1),
    (2, 3),
    (3, 3),
    (4, 1),
    (4, 2);

 * mysql+pymysql://root:***@localhost/
5 rows affected.
(pymysql.err.IntegrityError) (1062, "Duplicate entry '1-2' for key 'follows.PRIMARY'")
[SQL: # all passwords are 'test' but hashed

INSERT INTO follows VALUES
    (1, 2),
    (1, 3),
    (2, 1),
    (3, 1),
    (2, 3),
    (3, 2),
    (1, 4),
    (5, 2),
    (3, 5),
    (4, 3);]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [6]:
%%sql

INSERT INTO tag VALUES
    ('vgt', 'Vegetarian'),
    ('vgn', 'Vegan'),
    ('egg', 'Egg-Free'),
    ('nut', 'Nut-Free'),
    ('dai', 'Dairy-Free'),
    ('glu', 'Gluten-Free'),
    ('flr', 'Flour-Less'),
    ('nsp', 'Non-Spicy'),
    ('caf', 'Central African'),
    ('eaf', 'Eastern African'),
    ('naf', 'Northern African'),
    ('saf', 'Southern African'),
    ('waf', 'Western African'),
    ('nam', 'Northern American'),
    ('cam', 'Central American'),
    ('sam', 'Southern American'),
    ('car', 'Caribbean'),
    ('cas', 'Central Asian'),
    ('eas', 'Eastern Asian'),
    ('sas', 'Southern Asian'),
    ('sea', 'Southeast Asian'),
    ('was', 'Western Asian'),
    ('ceu', 'Central European'),
    ('eeu', 'Eastern European'),
    ('neu', 'Northern European'),
    ('seu', 'Southern European'),
    ('weu', 'Western European'),
    ('oce', 'Oceanic'),
    ('egy', 'Egyptian'),
    ('mex', 'Mexican'),
    ('usa', 'American (USA)'),
    ('arg', 'Argentine'),
    ('bra', 'Brazilian'),
    ('cub', 'Cuban'),
    ('chi', 'Chinese'),
    ('jap', 'Japanese'),
    ('kor', 'Korean'),
    ('ida', 'Indian'),
    ('tha', 'Thai'),
    ('phi', 'Filipino'),
    ('ind', 'Indonesian'),
    ('ira', 'Iranian'),
    ('leb', 'Lebanese'),
    ('ger', 'German'),
    ('rus', 'Russian'),
    ('nor', 'Nordic'),
    ('sco', 'Scottish'),
    ('esp', 'Spanish'),
    ('gre', 'Greek'),
    ('ita', 'Italian'),
    ('fre', 'French'),
    ('aus', 'Australian'); # more common specific countries' cuisines selected

INSERT INTO cuisine VALUES
    ('caf', 'Africa', NULL),
    ('eaf', 'Africa', NULL),
    ('naf', 'Africa', NULL),
    ('saf', 'Africa', NULL),
    ('waf', 'Africa', NULL),
    ('nam', 'America', NULL),
    ('cam', 'America', NULL),
    ('sam', 'America', NULL),
    ('car', 'America', NULL),
    ('cas', 'Asia', NULL),
    ('eas', 'Asia', NULL),
    ('sas', 'Asia', NULL),
    ('sea', 'Asia', NULL),
    ('was', 'Asia', NULL),
    ('ceu', 'Europe', NULL),
    ('eeu', 'Europe', NULL),
    ('neu', 'Europe', NULL),
    ('seu', 'Europe', NULL),
    ('weu', 'Europe', NULL),
    ('oce', 'Oceania', NULL),
    ('egy', 'Africa', 'North Africa'),
    ('mex', 'Americas', 'North America'),
    ('usa', 'Americas', 'North America'),
    ('arg', 'Americas', 'South America'),
    ('bra', 'Americas', 'South America'),
    ('cub', 'Americas', 'Caribbean'),
    ('chi', 'Asia', 'East Asia'),
    ('jap', 'Asia', 'East Asia'),
    ('kor', 'Asia', 'East Asia'),
    ('ida', 'Asia', 'South Asia'),
    ('tha', 'Asia', 'Southeast Asia'),
    ('phi', 'Asia', 'Southeast Asia'),
    ('ind', 'Asia', 'Southeast Asia'),
    ('ira', 'Asia', 'West Asia'),
    ('leb', 'Asia', 'West Asia'),
    ('ger', 'Europe', 'Central Europe'),
    ('rus', 'Europe', 'Eastern Europe'),
    ('nor', 'Europe', 'North Europe'),
    ('sco', 'Europe', 'North Europe'),
    ('esp', 'Europe', 'South Europe'),
    ('gre', 'Europe', 'South Europe'),
    ('ita', 'Europe', 'South Europe'),
    ('fre', 'Europe', 'West Europe'),
    ('aus', 'Oceania', 'Australasia');

INSERT INTO belongs_to VALUES
    (1, 'weu'),
    (1, 'neu'),
    (1, 'nam'),
    (2, 'sea'),
    (3, 'jap'),
    (3, 'eas'),
    (4, 'ceu'),
    (5, 'weu'),
    (5, 'neu'),
    (5, 'nam');

INSERT INTO excludes VALUES
    ('vgt', 27),
    ('vgt', 28),
    ('vgt', 29),
    ('vgt', 30),
    ('vgn', 2),
    ('vgn', 5),
    ('vgn', 11),
    ('vgn', 13),
    ('vgn', 15),
    ('vgn', 27),
    ('vgn', 28),
    ('vgn', 29),
    ('vgn', 30),
    ('egg', 5),
    ('nut', 20),
    ('nut', 21),
    ('nut', 22),
    ('dai', 2),
    ('dai', 13),
    ('dai', 15),
    ('glu', 3),
    ('glu', 8),
    ('glu', 26),
    ('flr', 3),
    ('nsp', 23);

 * mysql+pymysql://root:***@localhost/
(pymysql.err.IntegrityError) (1062, "Duplicate entry 'vgt' for key 'tag.PRIMARY'")
[SQL: INSERT INTO tag VALUES
    ('vgt', 'Vegetarian'),
    ('vgn', 'Vegan'),
    ('egg', 'Egg-Free'),
    ('nut', 'Nut-Free'),
    ('dai', 'Dairy-Free'),
    ('glu', 'Gluten-Free'),
    ('flr', 'Flour-Less'),
    ('nsp', 'Non-Spicy'),
    ('caf', 'Central African'),
    ('eaf', 'Eastern African'),
    ('naf', 'Northern African'),
    ('saf', 'Southern African'),
    ('waf', 'Western African'),
    ('nam', 'Northern American'),
    ('cam', 'Central American'),
    ('sam', 'Southern American'),
    ('car', 'Caribbean'),
    ('cas', 'Central Asian'),
    ('eas', 'Eastern Asian'),
    ('sas', 'Southern Asian'),
    ('sea', 'Southeast Asian'),
    ('was', 'Western Asian'),
    ('ceu', 'Central European'),
    ('eeu', 'Eastern European'),
    ('neu', 'Northern European'),
    ('seu', 'Southern European'),
    ('weu', 'Western European'),
    ('oce', 'Oceanic'),
    ('egy', 'Egyptian'),
    ('mex', 'Mexican'),
    ('usa', 'American (USA)'),
    ('arg', 'Argentine'),
    ('bra', 'Brazilian'),
    ('cub', 'Cuban'),
    ('chi', 'Chinese'),
    ('jap', 'Japanese'),
    ('kor', 'Korean'),
    ('ida', 'Indian'),
    ('tha', 'Thai'),
    ('phi', 'Filipino'),
    ('ind', 'Indonesian'),
    ('ira', 'Iranian'),
    ('leb', 'Lebanese'),
    ('ger', 'German'),
    ('rus', 'Russian'),
    ('nor', 'Nordic'),
    ('sco', 'Scottish'),
    ('esp', 'Spanish'),
    ('gre', 'Greek'),
    ('ita', 'Italian'),
    ('fre', 'French'),
    ('aus', 'Australian'); # more common specific countries' cuisines selected]
(Background on this error at: http://sqlalche.me/e/gkpj)

<div class="alert alert-block alert-warning">
Add in relevant select statements to show that your data is populated correctly FOR EACH relation, one cell each relation.
</div>

In [7]:
%sql select * from user;

 * mysql+pymysql://root:***@localhost/
11 rows affected.

[(1, 'username', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', ''),
 (2, 'user2', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (3, 'user3', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (4, 'user4', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (5, 'user5', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (6, 'user6', 'pbkdf2:sha256:260000$g5vPP0BnBQTpPwul$8ff63ed9658790f3a2a81cacd7cccd5f18f4421dd951a2ce0614d547f855461a', None),
 (7, 'username', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (8, 'user2', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (9, 'user3', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (10, 'user4', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None),
 (11, 'user5', 'pbkdf2:sha256:260000$i9JBbdiuv5g2lpP9$bf643dee243a2a7cb5e37d70552ee20b334f2eb59453ef52414d26985c62c950', None)]

In [8]:
%sql select * from follows;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[(2, 1),
 (3, 1),
 (1, 2),
 (3, 2),
 (5, 2),
 (1, 3),
 (2, 3),
 (4, 3),
 (1, 4),
 (3, 5)]

In [9]:
%sql select * from ingredient limit 5;

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[(1, 'Water'), (2, 'Butter'), (3, 'Flour'), (4, 'Salt'), (5, 'Egg')]

In [10]:
%sql select * from inventory;

 * mysql+pymysql://root:***@localhost/
12 rows affected.

[(1, 2, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 4, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 8, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 10, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 13, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 18, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 19, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 24, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 27, datetime.datetime(2023, 3, 11, 0, 0)),
 (1, 28, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 30, datetime.datetime(2023, 3, 31, 0, 0)),
 (1, 33, datetime.datetime(2023, 3, 31, 0, 0))]

In [11]:
%sql select * from recipe;

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[(1, 'Ground Beef and Potatoes', None, 'https://www.wellplated.com/wp-content/uploads/2020/12/Fried-Potatoes-and-Hamburger.jpg', 1, Decimal('0.50'), 1, 1, datetime.date(2023, 3, 21), Decimal('4.000')),
 (2, 'Singapore Hainanese Chicken Rice', None, None, 1, Decimal('1.50'), 1, 2, datetime.date(2023, 3, 21), Decimal('3.000')),
 (3, '[Incomplete] Sushi', None, None, 0, Decimal('1.00'), 1, 1, datetime.date(2023, 3, 21), Decimal('5.000')),
 (4, '[Incomplete] Túró (Hungarian Cottage Cheese)', None, None, 2, Decimal('1.00'), 1, 4, datetime.date(2023, 3, 21), None),
 (5, 'Creamy Buttery Mashed Potato', None, 'https://www.recipetineats.com/wp-content/uploads/2020/03/Creamy-Mashed-Potato_8-copy.jpg', 0, Decimal('0.50'), 1, 4, datetime.date(2023, 3, 21), Decimal('5.000'))]

In [12]:
%sql select * from instruction;

 * mysql+pymysql://root:***@localhost/
15 rows affected.

[(1, 1, 'Sauté the potatoes in oil.', None, 1),
 (1, 2, 'Brown the beef with the sauce and any other vegetables/spices you wish to include.', None, 2),
 (1, 3, 'Cook until the meat is cooked through. Serve as desired and ENJOY!', None, 3),
 (2, 1, 'Place the chicken in a large stock pot, cover with cold water by 1 inch (2 cm), and season with salt to taste.', None, 1),
 (2, 2, 'Bring to a boil over high heat, then immediately reduce the heat to low to maintain a simmer. Cover and cook for about 30 minutes, or until the internal temperature of the chicken reaches 165°F (75°C). Remove the pot from the heat.', None, 2),
 (2, 3, 'Remove the chicken from the pot, reserving the poaching liquid for later, and transfer to an ice bath for 5 minutes to stop the cooking process and to keep the chicken skin springy.', None, 3),
 (2, 4, 'After it’s cooled, pat the chicken dry with paper towels and rub all over with sesame oil. This will help prevent the chicken from drying out.', None, 4),
 (2, 5, 'In a large wok or skillet, heat ¼ cup (60 ml) of sesame oil over medium-high heat. Add 2 tablespoons of reserved chopped chicken fat, the garlic, ginger, and salt, and fry until aromatic, about 10 minutes.', None, 5),
 (2, 6, 'Reserve ¼ of the fried garlic mixture, then add the rice to the remaining fried garlic and stir to coat. Cook for 3 minutes.', None, 6),
 (2, 7, 'Transfer the rice to a rice cooker and add 2 cups (480 ml) of reserved poaching broth. Steam the rice for 60 minutes, or until tender.', None, 7),
 (2, 8, 'While the rice is cooking, carve the chicken for serving.', None, 8),
 (5, 1, 'Cut potato into equal pieces', None, 1),
 (5, 2, 'Boil in salted water until potato is soft', None, 2),
 (5, 3, 'Drain, return into pot and mash with butter and milk', None, 3),
 (5, 4, 'Mash until creamy and fluffy', None, 4)]

In [13]:
%sql select * from uses_ingredient;

 * mysql+pymysql://root:***@localhost/
19 rows affected.

[(1, 2, '0.5L + more as necessary'),
 (1, 5, '500ml'),
 (2, 5, '100g'),
 (4, 2, 'as necessary'),
 (4, 5, '1 pinch'),
 (8, 1, '1 tablespoon'),
 (10, 2, '1/2 cup or as necessary'),
 (10, 3, '1/2 cup or as necessary'),
 (13, 4, '100ml'),
 (13, 5, '100ml'),
 (16, 2, '4 1/6 inch pieces'),
 (18, 1, '1/2'),
 (18, 5, '1'),
 (19, 1, '1 tablespoon'),
 (24, 3, 'as necessary'),
 (27, 2, '200g'),
 (28, 3, '100g'),
 (30, 1, 'ground; 50g'),
 (33, 1, 'as necessary')]

In [14]:
%sql select * from rating;

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[(1, 1, 5),
 (1, 2, 4),
 (2, 1, 4),
 (2, 2, 2),
 (3, 1, 2),
 (3, 3, 5),
 (4, 1, 5),
 (4, 5, 5)]

In [15]:
%sql select * from bookmark;

 * mysql+pymysql://root:***@localhost/
8 rows affected.

[(1, 1), (2, 1), (4, 1), (1, 2), (4, 2), (2, 3), (3, 3), (1, 5)]

In [16]:
%sql select * from tag limit 5;

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[('arg', 'Argentine'),
 ('aus', 'Australian'),
 ('bra', 'Brazilian'),
 ('caf', 'Central African'),
 ('cam', 'Central American')]

In [17]:
%sql select * from cuisine limit 5;

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[('arg', 'Americas', 'South America'),
 ('aus', 'Oceania', 'Australasia'),
 ('bra', 'Americas', 'South America'),
 ('caf', 'Africa', None),
 ('cam', 'America', None)]

In [18]:
%sql select * from belongs_to;

 * mysql+pymysql://root:***@localhost/
10 rows affected.

[(4, 'ceu'),
 (3, 'eas'),
 (3, 'jap'),
 (1, 'nam'),
 (5, 'nam'),
 (1, 'neu'),
 (5, 'neu'),
 (2, 'sea'),
 (1, 'weu'),
 (5, 'weu')]

In [19]:
%sql select * from excludes;

 * mysql+pymysql://root:***@localhost/
25 rows affected.

[('dai', 2),
 ('vgn', 2),
 ('flr', 3),
 ('glu', 3),
 ('egg', 5),
 ('vgn', 5),
 ('glu', 8),
 ('vgn', 11),
 ('dai', 13),
 ('vgn', 13),
 ('dai', 15),
 ('vgn', 15),
 ('nut', 20),
 ('nut', 21),
 ('nut', 22),
 ('nsp', 23),
 ('glu', 26),
 ('vgn', 27),
 ('vgt', 27),
 ('vgn', 28),
 ('vgt', 28),
 ('vgn', 29),
 ('vgt', 29),
 ('vgn', 30),
 ('vgt', 30)]

### Section F: Queries Script

<div class="alert alert-block alert-warning">
<b>SQL Query:</b> <br>
    
* Pose 3 interesting questions (asked by end user/administrator of your domain) and write SELECT queries to answer them. State the question that is being asked for each query, and also a short explanation of why the question is relevant to the domain. If relevant, you may wish to implement the query as a view or stored procedure.
 
* Write the full SELECT statement that answers the query. 
 
* Each query must be sufficiently complex (join of a few tables, use of aggregate functions, nested queries etc). Ideally, these queries should be implemented in your final web interface.
 
* Finally, show a copy of the result set produced by each query. 

* Please ensure your code can be seen clearly from oneNote.
</div>

#### Query 1

For all Asian recipes that can be made using unexpired ingredients from user 1's inventory, list the recipes in increasing order of cooking duration. Include the recipe name, description, image URL, cooking duration, difficulty and list of cuisines it belongs to (comma-separated).

This question is relevant to the domain because it is an example of a possible Browse query made by the user with ID 1 - the user could be in a rush and craving Asian food, so he wants to use his current existing ingredients to make a quick Asian dish, without wasting time obtaining additional ingredients.

In [20]:
%%sql

SELECT name, description, image, duration, difficulty, cuisines
FROM
    (
    SELECT recipe_id, recipe_name as name, recipe_desc as description, recipe_image as image,
           cook_time as duration, difficulty
    FROM recipe
    WHERE recipe_id NOT IN ( # none of the ingredients are expired
                           SELECT U.recipe_id
                           FROM uses_ingredient U, inventory I
                           WHERE U.ingr_id IN (
                                              SELECT ingr_id
                                              FROM inventory WHERE user_id = 1
                                              GROUP BY ingr_id HAVING MAX(expiry) < CURDATE()
                                              )
                           ) AND 
          recipe_id NOT IN ( # none of the ingredients are not in the inventory
                           SELECT U.recipe_id
                           FROM uses_ingredient U
                           WHERE U.ingr_id NOT IN (SELECT ingr_id FROM inventory WHERE user_id = 1)
                           )
    ) T1
    INNER JOIN
    (
    SELECT R.recipe_id, GROUP_CONCAT(T.tag_name) as cuisines
    FROM recipe R, belongs_to B, cuisine C, tag T
    WHERE R.recipe_id = B.recipe_id AND B.cuisine_id = C.tag_id AND C.tag_id = T.tag_id AND
          C.region = 'Asia'
    GROUP BY R.recipe_id
    ) T2
    ON T1.recipe_id = T2.recipe_id
ORDER BY duration;

 * mysql+pymysql://root:***@localhost/
1 rows affected.

[('[Incomplete] Sushi', None, None, Decimal('1.00'), 0, 'Eastern Asian,Japanese')]

(Instructions are incomplete but some sample ingredients have been included. Only Chicken Rice and Sushi are Asian, and user 0 has all the ingredients for Sushi but his chicken is expired.)

#### Query 2

For all recipes that are vegetarian and contain potato, list the recipes in decreasing order of rating. Include the recipe name, description, image URL, cooking duration, difficulty and list of cuisines it belongs to (comma-separated).

This question is relevant to the domain because it is an example of a possible Browse query - a user could want to browse recipes with high ratings that are vegetarian and containing potato, because he is a vegetarian who likes potato.

In [21]:
%%sql

SELECT name, description, image, duration, difficulty, cuisines
FROM
    (
    SELECT recipe_id, recipe_name as name, recipe_desc as description, recipe_image as image,
           cook_time as duration, difficulty, recipe_rating
    FROM recipe
    WHERE recipe_id IN (
                       SELECT U.recipe_id
                       FROM uses_ingredient U, ingredient I
                       WHERE U.ingr_id = I.ingr_id AND I.ingr_name = 'Potato'
                       ) AND
          recipe_id NOT IN (
                           SELECT U2.recipe_id
                           FROM uses_ingredient U2, excludes E, tag T2
                           WHERE U2.ingr_id = E.ingr_id AND E.dietary_id = T2.tag_id AND T2.tag_name = 'Vegetarian'
                           )
    ) T1
    LEFT JOIN
    (
    SELECT R.recipe_id, GROUP_CONCAT(T.tag_name) as cuisines
    FROM recipe R, belongs_to B, tag T
    WHERE R.recipe_id = B.recipe_id AND B.cuisine_id = T.tag_id
        GROUP BY R.recipe_id
    ) T2
    ON T1.recipe_id = T2.recipe_id
ORDER BY T1.recipe_rating DESC;

 * mysql+pymysql://root:***@localhost/
1 rows affected.

[('Creamy Buttery Mashed Potato', None, 'https://www.recipetineats.com/wp-content/uploads/2020/03/Creamy-Mashed-Potato_8-copy.jpg', Decimal('0.50'), 0, 'Northern American,Northern European,Western European')]

#### Query 3

For each user, find the average, lowest and highest rating of all the recipes that he has bookmarked, as well as the average, lowest and highest rating of all the recipes he has created.

This question is relevant to the domain because
1. the user may wish to know how his opinion of the recipes he bookmarked compares to the general opinion of these same recipes, or he may want to compare his bookmarked recipes with other people's
2. the user may wish to know feedback on the recipes he created, or compare his created recipes with other people's

In [22]:
%%sql

SELECT * FROM
    (SELECT * FROM
        (SELECT U.user_id FROM user U) T0
        NATURAL LEFT OUTER JOIN
        (
        SELECT B.user_id, AVG(R.recipe_rating) 'bookmarked average',
                          MIN(R.recipe_rating) 'bookmarked lowest',
                          MAX(R.recipe_rating) 'bookmarked highest'
        FROM bookmark B, recipe R
        WHERE B.recipe_id = R.recipe_id
        GROUP BY B.user_id
        ) T1
    ) T2
    NATURAL LEFT OUTER JOIN
    (
    SELECT R2.creator_id as user_id, AVG(R2.recipe_rating) 'created average',
                                     MIN(R2.recipe_rating) 'created lowest',
                                     MAX(R2.recipe_rating) 'created highest'
    FROM recipe R2
    GROUP BY R2.creator_id
    ) T3
ORDER BY user_id;

 * mysql+pymysql://root:***@localhost/
11 rows affected.

[(1, Decimal('4.0000000'), Decimal('3.000'), Decimal('5.000'), Decimal('4.5000000'), Decimal('4.000'), Decimal('5.000')),
 (2, Decimal('4.5000000'), Decimal('4.000'), Decimal('5.000'), Decimal('3.0000000'), Decimal('3.000'), Decimal('3.000')),
 (3, Decimal('5.0000000'), Decimal('5.000'), Decimal('5.000'), None, None, None),
 (4, Decimal('3.5000000'), Decimal('3.000'), Decimal('4.000'), Decimal('5.0000000'), Decimal('5.000'), Decimal('5.000')),
 (5, None, None, None, None, None, None),
 (6, None, None, None, None, None, None),
 (7, None, None, None, None, None, None),
 (8, None, None, None, None, None, None),
 (9, None, None, None, None, None, None),
 (10, None, None, None, None, None, None),
 (11, None, None, None, None, None, None)]

<div class="alert alert-block alert-warning">
<b>Triggers and Events:</b> <br>
Shortlist relevant triggers or scheduled events that are useful for your database system. 
Describe what the trigger/event is for and why it is useful for your DB.
</div>

#### Trigger/Event

These triggers are to help calculate the derived attribute `recipe_rating` in the `recipe` table, whenever the `rating` table is updated. This is useful because it ensures that the derived attribute will be updated automatically.

First, a stored procedure is declared, for code reusability.

In [23]:
%%sql

CREATE PROCEDURE process_rating (IN edited_recipe_id integer(8))
    BEGIN
        UPDATE recipe
        SET recipe_rating = (SELECT AVG(score)
                             FROM rating R
                             WHERE R.recipe_id = edited_recipe_id)
        WHERE recipe.recipe_id = edited_recipe_id;
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1304, 'PROCEDURE process_rating already exists')
[SQL: CREATE PROCEDURE process_rating (IN edited_recipe_id integer(8))
    BEGIN
        UPDATE recipe
        SET recipe_rating = (SELECT AVG(score)
                             FROM rating R
                             WHERE R.recipe_id = edited_recipe_id)
        WHERE recipe.recipe_id = edited_recipe_id;
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [24]:
%%sql

CREATE TRIGGER recipe_rating_insert
AFTER INSERT ON rating
FOR EACH ROW
    BEGIN
        CALL process_rating(new.recipe_id);
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER recipe_rating_insert
AFTER INSERT ON rating
FOR EACH ROW
    BEGIN
        CALL process_rating(new.recipe_id);
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [25]:
%%sql

CREATE TRIGGER recipe_rating_update
AFTER UPDATE ON rating
FOR EACH ROW
    BEGIN
        CALL process_rating(new.recipe_id);
        CALL process_rating(old.recipe_id);
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER recipe_rating_update
AFTER UPDATE ON rating
FOR EACH ROW
    BEGIN
        CALL process_rating(new.recipe_id);
        CALL process_rating(old.recipe_id);
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [26]:
%%sql

CREATE TRIGGER recipe_rating_delete
AFTER DELETE ON rating
FOR EACH ROW
    BEGIN
        CALL process_rating(old.recipe_id);
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER recipe_rating_delete
AFTER DELETE ON rating
FOR EACH ROW
    BEGIN
        CALL process_rating(old.recipe_id);
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

Testing:

In [27]:
%%sql
SELECT recipe_id, recipe_rating FROM recipe;

 * mysql+pymysql://root:***@localhost/
5 rows affected.

[(1, Decimal('4.000')),
 (2, Decimal('3.000')),
 (3, Decimal('5.000')),
 (4, None),
 (5, Decimal('5.000'))]

In [28]:
%%sql
INSERT INTO rating VALUES (4, 0, 3.0);
SELECT recipe_id, recipe_rating FROM recipe;

 * mysql+pymysql://root:***@localhost/
(pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`cs6131proj`.`rating`, CONSTRAINT `rating_ibfk_2` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`recipe_id`) ON DELETE CASCADE ON UPDATE CASCADE)')
[SQL: INSERT INTO rating VALUES (4, 0, 3.0);]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [29]:
%%sql
UPDATE rating SET score = 2.0 WHERE user_id = 4 AND recipe_id = 0;
SELECT recipe_id, recipe_rating FROM recipe;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
5 rows affected.

[(1, Decimal('4.000')),
 (2, Decimal('3.000')),
 (3, Decimal('5.000')),
 (4, None),
 (5, Decimal('5.000'))]

In [30]:
%%sql
DELETE FROM rating WHERE user_id = 4 AND recipe_id = 0;
SELECT recipe_id, recipe_rating FROM recipe;

 * mysql+pymysql://root:***@localhost/
0 rows affected.
5 rows affected.

[(1, Decimal('4.000')),
 (2, Decimal('3.000')),
 (3, Decimal('5.000')),
 (4, None),
 (5, Decimal('5.000'))]

The next trigger created is to make sure that there cannot exist any `tag_id` that is both a `dietary_id` from the `excludes` table as well as a `tag_id` in the `cuisine` table. This is useful because it can help to automatically enforce this constraint. It is difficult to be implemented as a CONSTRAINT in the table declaration because there are many possible values.

First, a stored procedure is declared, for code reusability.

In [31]:
%%sql

CREATE PROCEDURE check_tag_id (IN new_id varchar(3))
    BEGIN
        IF  (SELECT COUNT(dietary_id) FROM excludes WHERE dietary_id = new_id) > 0
            AND
            (SELECT COUNT(tag_id) FROM cuisine WHERE tag_id = new_id) > 0
        THEN
            SIGNAL SQLSTATE '45000'
               SET MESSAGE_TEXT = 'check constraint on dietary and cuisine IDs failed';
        END IF;
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1304, 'PROCEDURE check_tag_id already exists')
[SQL: CREATE PROCEDURE check_tag_id (IN new_id varchar(3))
    BEGIN
        IF  (SELECT COUNT(dietary_id) FROM excludes WHERE dietary_id = new_id) > 0
            AND
            (SELECT COUNT(tag_id) FROM cuisine WHERE tag_id = new_id) > 0
        THEN
            SIGNAL SQLSTATE '45000'
               SET MESSAGE_TEXT = 'check constraint on dietary and cuisine IDs failed';
        END IF;
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [32]:
%%sql

CREATE TRIGGER excludes_insert
AFTER INSERT ON excludes
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.dietary_id);
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER excludes_insert
AFTER INSERT ON excludes
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.dietary_id);
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [33]:
%%sql

CREATE TRIGGER excludes_update
AFTER UPDATE ON excludes
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.dietary_id);
    END # should not give problems because that would require updating of primary key

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER excludes_update
AFTER UPDATE ON excludes
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.dietary_id);
    END # should not give problems because that would require updating of primary key]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [34]:
%%sql

CREATE TRIGGER cuisine_insert
AFTER INSERT ON cuisine
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.tag_id);
    END

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER cuisine_insert
AFTER INSERT ON cuisine
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.tag_id);
    END]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [35]:
%%sql

CREATE TRIGGER cuisine_update
AFTER UPDATE ON cuisine
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.tag_id);
    END # should not give problems because that would require updating of primary key

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1359, 'Trigger already exists')
[SQL: CREATE TRIGGER cuisine_update
AFTER UPDATE ON cuisine
FOR EACH ROW
    BEGIN
        CALL check_tag_id(new.tag_id);
    END # should not give problems because that would require updating of primary key]
(Background on this error at: http://sqlalche.me/e/e3q8)

Testing:

In [36]:
%%sql
INSERT INTO excludes VALUES ('caf', 1);

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1644, 'check constraint on dietary and cuisine IDs failed')
[SQL: INSERT INTO excludes VALUES ('caf', 1);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [37]:
%%sql
INSERT INTO cuisine VALUES ('vgt', 'Asia', 'South Asia');

 * mysql+pymysql://root:***@localhost/
(pymysql.err.OperationalError) (1644, 'check constraint on dietary and cuisine IDs failed')
[SQL: INSERT INTO cuisine VALUES ('vgt', 'Asia', 'South Asia');]
(Background on this error at: http://sqlalche.me/e/e3q8)

<hr>
© NUS High School of Math & Science